.navigation {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #000a13;
  font-family: 'Carter One';

  .logo-container {
    height: 100%;
    width: 285px;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

    &:hover {
      transform: scale(1.03);
      transition: transform .7s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    span {
      margin: 5px auto;
      font-size: 30px;
      font-family: 'Carter One';
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 45px;
    font-size: 20px;

    .nav-link {
      margin-top: 20px;
      padding: 0px 15px;
      cursor: pointer;
      color: white;

      &:hover {
        transform: scale(1.05);
        transition: transform .5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  }
}

.spacer {
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50px;
}

.layer1 {
  background-image: url('../../assets/nav-bottom.svg');
}