.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    text-shadow: -2px -1px 5px black;
    color: white;

    h2 {
        font-family: 'Carter One';
        margin: 10px 0;
        font-size: 35px;
    }

    span {
        font-family: 'Carter One';
        font-size: 20px;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }

}